.SudokuExperiment {
    text-align: center;
    height: 650px;
    width: 600px;
    background: aliceblue;
    margin: 50px auto;
    position: relative;
    padding: 25px;
}

.screen {
    position: relative;
    height: 550px;
    width: 550px;
    background: lightyellow;
}

.next_button {
    right:    25px;
    bottom:   25px;
    position: absolute;
}